/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2021, 8:24:42 AM
    Author     : duonghuuthanh
*/

GridPane {
    -fx-background-color: lightblue;
    -fx-padding: 10;
}

Label {
    -fx-text-fill: darkblue;
    -fx-font-size: 16;
}

Button.Btn {
   -fx-background-color: darkblue;
   -fx-text-fill: white;
   -fx-pref-width: 100;
}

Text.Subject {
    -fx-fill: red;
    -fx-font-size: 36;
    -fx-font-weight: 1200;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
}

